.input {
  width: 311px;
  height: 59px;
  left: calc(50% - 311px / 2 - 12px);
  top: calc(50% - 59px / 2);

  background: #ffffff;
  /* Grey AA */

  border: 2px solid #767676;
  box-sizing: border-box;
  border-radius: 4px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
  margin: 0 0.8rem;
  padding: 1rem;
}
