.blue {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.3rem;
  color: #ffffff;
  padding: 1rem 3rem;
  border: none;
  background: #2c69ff;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
}

.blue:hover {
  text-decoration: underline;
}
